.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black !important;
  border-radius: 50%;
}

.mat-form-field {
  font-size: 17px;
}

.mat-paginator,
.mat-select-value,
.mat-select-arrow {
  background-color: transparent;
  color: black;
}

.mat-select-value {
  color: black;
}

td {
  .mat-raised-button {
    min-width: 45px;
    line-height: 32px;
    padding: 0 10px;
  }
}

.actions {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.action-hr {
  margin-left: -24px;
  margin-right: -24px;
}
