.car-details {
  .carousel-indicators {
    display: none;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  &__content {
    padding: 30px 0;
    margin: 30px;
  }

  &__car-panel {
    &__header {
      display: flex;
      justify-content: space-between;

      &__price {
        color: red;
      }
    }

    &__image {
      width: 70%;
      margin: auto;
    }

    &__info {
      width: 60%;
      margin: auto;
      text-align: left;
      padding: 30px 0;
    }

    &__actions {
      width: 100%;
      text-align: center;

      button {
        width: 100%;
      }
    }
  }

}

::ng-deep .carousel-inner {
  display: flex;
  align-items: center;
  background-color: black;
}