.filter-search-actions {
    display: flex;
    justify-content: space-between;
    .search {
        min-width: 400px;
        width: 60%;
    }

    .filter {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 17px;
    }
}