<div class="app-header">
    <div class="app-header__info">
        <div class="app-header__info__logo">
            <img  routerLink="/" src="../../../assets/logo_transparent.png">
        </div>
        <div class="app-header__info__actions">
            <button mat-stroked-button class="app-header__info__actions__button" routerLink="/admin/login"><span class="material-icons icon">face</span>{{adminButtonLabel}}</button>
            <button *ngIf="showLogout" mat-stroked-button class="app-header__info__actions__button" (click)="logout()"><mat-icon>power_settings_new</mat-icon> Wyloguj</button>
        </div>
    </div>
</div>