.add-file {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__added {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        &__file {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            border: 1px solid grey;
            margin: 5px;
        }
    }
}