:host::ng-deep {
  .cars-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  
    &__content {
    }
    
    &__car-panel {
      max-width: 600px;
      width: 100%;
      margin: 30px 10px;
      
      &__header {
        display: flex;
        justify-content: space-between;
  
        &__price {
          color: red;
        }
      }
  
      &__image {
        width: 100%;
      }
  
      &__actions {
          width: 100%;
          text-align: center;
          button {
              width: 100%;
          }
      }
    }
  
    &__paginator {
      width: 100%;
    }
  }  
}
