<div>
  <form [formGroup]="form">
    <h1><b>{{car?.marka}} {{car?.model}}</b></h1>
    <h2>{{car?.cena}}</h2>
    <div (click)="campaignOnePicker.open()">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Wskaż termin wypożyczenia</mat-label>
        <mat-date-range-input [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Początek" formControlName="wypozyczenieOd">
          <input matEndDate placeholder="Koniec" formControlName="wypozyczenieDo">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <hr class="action-hr">

    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Anuluj</button>
      <button mat-raised-button color="primary" (click)="rent()">Wypożycz</button>
    </div>
  </form>
</div>
