.car-rent-dialog {
    
    .action-hr {
        margin-left: -24px;
        margin-right: -24px;
    }
    
    .actions {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }
    
    .form-container {
        display: flex;
    }
}
