<div class="confirm-rent-dialog">
  <mat-dialog-content>
    <div class="w-100 text-center">
      <h1>Czy na pewno chcesz {{data.status === carStatusEnum.nieaktywny ? 'dezaktywować' : 'aktywować'}}:</h1>
      Samochód: <h2>{{carDetail.marka}} {{carDetail.model}}</h2>
    </div>

    <hr class="action-hr">

    <div class="actions">
      <button mat-raised-button color="warn" (click)="close()">Wyjdż</button>
      <button mat-raised-button color="primary" (click)="submit()">{{data.status === carStatusEnum.nieaktywny ? 'Dezaktywuj' : 'Aktywuj'}}</button>
    </div>
  </mat-dialog-content>
</div>
